In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [54]:
#Read data
data = pd.read_excel('data.xlsx')

In [55]:
#Shape the data
data.shape

(1004, 31)

In [56]:
#Brief overview of 5 rows
data.head(5)

,person_id,person_name,person_address,cln1,cln2,cln3,person_ctry_code,cnt,chr_len,chr_len_label,...,street,nr,area,postal,city,region,country,unclear,status,label
0,3540.0,PURAC Biochem BV,"Arkelsedijk 46,4206 AC Gorinchem",Arkelsedijk 46 4206 AC Gorinchem,46 4206,46,NL,1,32.0,2.0,...,Arkelsedijk,46,NaN,4206 AC,Gorinchem,NaN,NaN,NaN,NaN,1.0
1,28753.0,"Tinti, Maria Ornella",SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,30 400 00040,30,IT,1,86.0,1.0,...,Via Pontina,km 30,NaN,400 00040,Pomezia,NaN,NaN,NaN,NaN,1.0
2,35108.0,"Isobe, Shin-ichi, c/o Int. Prop. Dpt., NTT DoC...","Sanno Park Tower, 11-1, Nagatacho 2-chome,Chiy...",Sanno Park Tower 11-1 Nagatacho 2-chome Chiyod...,111 2,11-,JP,1,59.0,1.0,...,Nagatacho 2-chome 11-1,NaN,Chiyoda-ku,NaN,Tokyo,NaN,NaN,NaN,NaN,1.0
3,89830.0,"Hata, Yoshiki","c/o Hitachi Appliances, Inc. 390 Muramatsu, Sh...",c/o Hitachi Appliances Inc. 390 Muramatsu Shim...,390 4240926,390,JP,1,90.0,1.0,...,NaN,NaN,Shizuoka-ken,424-0926,"Shizuoka-shi, Shimizu-ku",Muramatsu,NaN,NaN,NaN,0.0
4,94063.0,"Kim, Se-Jong","Legal & IP Team, Samsung SDI Co., Ltd., 428-5,...",Legal & IP Team Samsung SDI Co. Ltd. 428-5 Gon...,4285,428-,KR,1,92.0,1.0,...,428-5,NaN,Gongse-ri; Kiheung-eup; Yongin-s,NaN,Gyeonggi-do,NaN,NaN,NaN,NaN,1.0

In [57]:
#Fill all empty values with 0
data['country'] = data['country'].fillna(0)
data['city'] = data['city'].fillna(0)
data['region'] = data['region'].fillna(0)
data['postal'] = data['postal'].fillna(0)
data['area'] = data['area'].fillna(0)
data['street'] = data['street'].fillna(0)
data['co'] = data['co'].fillna(0)
data['building'] = data['building'].fillna(0)
data['nr'] = data['nr'].fillna(0)

In [58]:
#Brief overview of first 5 rows
data.head(5)

,person_id,person_name,person_address,cln1,cln2,cln3,person_ctry_code,cnt,chr_len,chr_len_label,...,street,nr,area,postal,city,region,country,unclear,status,label
0,3540.0,PURAC Biochem BV,"Arkelsedijk 46,4206 AC Gorinchem",Arkelsedijk 46 4206 AC Gorinchem,46 4206,46,NL,1,32.0,2.0,...,Arkelsedijk,46,0,4206 AC,Gorinchem,0,0,NaN,NaN,1.0
1,28753.0,"Tinti, Maria Ornella",SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,30 400 00040,30,IT,1,86.0,1.0,...,Via Pontina,km 30,0,400 00040,Pomezia,0,0,NaN,NaN,1.0
2,35108.0,"Isobe, Shin-ichi, c/o Int. Prop. Dpt., NTT DoC...","Sanno Park Tower, 11-1, Nagatacho 2-chome,Chiy...",Sanno Park Tower 11-1 Nagatacho 2-chome Chiyod...,111 2,11-,JP,1,59.0,1.0,...,Nagatacho 2-chome 11-1,0,Chiyoda-ku,0,Tokyo,0,0,NaN,NaN,1.0
3,89830.0,"Hata, Yoshiki","c/o Hitachi Appliances, Inc. 390 Muramatsu, Sh...",c/o Hitachi Appliances Inc. 390 Muramatsu Shim...,390 4240926,390,JP,1,90.0,1.0,...,0,0,Shizuoka-ken,424-0926,"Shizuoka-shi, Shimizu-ku",Muramatsu,0,NaN,NaN,0.0
4,94063.0,"Kim, Se-Jong","Legal & IP Team, Samsung SDI Co., Ltd., 428-5,...",Legal & IP Team Samsung SDI Co. Ltd. 428-5 Gon...,4285,428-,KR,1,92.0,1.0,...,428-5,0,Gongse-ri; Kiheung-eup; Yongin-s,0,Gyeonggi-do,0,0,NaN,NaN,1.0

In [59]:
from sklearn.preprocessing import LabelEncoder
l3 = LabelEncoder()

#make the columns as string and encode it to a numeric
country = l3.fit_transform(data['country'].astype(str))
city = l3.fit_transform(data['city'].astype(str))
region = l3.fit_transform(data['region'].astype(str))
postal = l3.fit_transform(data['postal'].astype(str))
area = l3.fit_transform(data['area'].astype(str))
street = l3.fit_transform(data['street'].astype(str))
co = l3.fit_transform(data['co'].astype(str))
building = l3.fit_transform(data['building'].astype(str))
nr = l3.fit_transform(data['nr'].astype(str))

In [60]:
#Replace originalcolumns witht the numeric columns
data['city'] = city
data['country'] = country
data['region'] = region
data['postal'] = postal
data['area'] = area
data['street'] = street
data['co'] = co
data['building'] = building
data['nr'] = nr

In [61]:
#Brief overview of first 50
data.head(50)

,person_id,person_name,person_address,cln1,cln2,cln3,person_ctry_code,cnt,chr_len,chr_len_label,...,street,nr,area,postal,city,region,country,unclear,status,label
0,3540.0,PURAC Biochem BV,"Arkelsedijk 46,4206 AC Gorinchem",Arkelsedijk 46 4206 AC Gorinchem,46 4206,46,NL,1,32.0,2.0,...,113,176,1,150,207,3,1,NaN,NaN,1.0
1,28753.0,"Tinti, Maria Ornella",SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,30 400 00040,30,IT,1,86.0,1.0,...,398,265,1,142,481,3,1,NaN,NaN,1.0
2,35108.0,"Isobe, Shin-ichi, c/o Int. Prop. Dpt., NTT DoC...","Sanno Park Tower, 11-1, Nagatacho 2-chome,Chiy...",Sanno Park Tower 11-1 Nagatacho 2-chome Chiyod...,111 2,11-,JP,1,59.0,1.0,...,279,3,37,5,606,3,1,NaN,NaN,1.0
3,89830.0,"Hata, Yoshiki","c/o Hitachi Appliances, Inc. 390 Muramatsu, Sh...",c/o Hitachi Appliances Inc. 390 Muramatsu Shim...,390 4240926,390,JP,1,90.0,1.0,...,18,3,192,151,1,91,1,NaN,NaN,0.0
4,94063.0,"Kim, Se-Jong","Legal & IP Team, Samsung SDI Co., Ltd., 428-5,...",Legal & IP Team Samsung SDI Co. Ltd. 428-5 Gon...,4285,428-,KR,1,92.0,1.0,...,85,3,73,5,220,3,1,NaN,NaN,1.0
5,107464.0,"Heldt, Ronald","Pappelweg 9,15809 Gross Machnow",Pappelweg 9 15809 Gross Machnow,9 15809,9,DE,1,31.0,2.0,...,308,242,1,74,216,3,1,NaN,NaN,1.0
6,108991.0,"Koo, Bon Seok","1 Gwihyun-dong, Changwon,Kyungsangnam-do",1 Gwihyun-dong Changwon Kyungsangnam-do,1,1,KR,1,40.0,1.0,...,190,4,1,5,104,71,1,NaN,NaN,1.0
7,118819.0,"Sakamura, Ken, Intellectual Property Department","NTT DoCoMo, Inc., Sanno Park Tower, 11-1, Naga...",NTT DoCoMo Inc. Sanno Park Tower 11-1 Nagata- ...,111 2 1006150,11-,JP,1,89.0,1.0,...,18,3,239,30,606,3,1,NaN,NaN,0.0
8,125227.0,"BUB, Günther","Kampstrasse 97,45772 Marl",Kampstrasse 97 45772 Marl,97 45772,97,DE,1,25.0,2.0,...,228,248,1,166,368,3,1,NaN,NaN,1.0
9,129328.0,"AZPIROZ, Fernando","Paseo San Gervasio 32,08022 Barcelona",Paseo San Gervasio 32 08022 Barcelona,32 08022,32,ES,1,37.0,1.0,...,311,144,1,26,42,3,1,NaN,NaN,1.0
10,132644.0,"Hutchins, Thomas Goodsell","11937 Basswood Avenue,Uniontown, OH 44685",11937 Basswood Avenue Uniontown OH 44685,11937 44685,NaN,US,1,41.0,1.0,...,128,35,1,161,619,108,1,NaN,NaN,1.0
11,134321.0,"Lindahl, Gery","8200 116 Avenue S.E.,NewCastle, Washington 98056",8200 116 Avenue S.E. NewCastle Washington 98056,8200 116 98056,116,US,1,48.0,1.0,...,33,234,1,324,430,157,1,NaN,NaN,1.0
12,138243.0,"REBHOLZ, Uwe","Ludwigstr. 73,67678 Mehlingen",Ludwigstr. 73 67678 Mehlingen,73 67678,73,DE,1,29.0,2.0,...,257,218,1,243,377,3,1,NaN,NaN,1.0
13,151094.0,"Hale, William D.","1800 Mill Creek Road, No. 14-B, Mill-Creek,Was...",1800 Mill Creek Road No. 14-B Mill-Creek Washi...,1800 14 98012,14-,US,1,59.0,1.0,...,268,82,1,322,383,157,1,NaN,NaN,1.0
14,151336.0,"MADHANI, Akhil, J.","Apartment 77 1245 East California Avenue,Glend...",Apartment 77 1245 East California Avenue Glend...,77 1245 91206,77,US,1,59.0,1.0,...,165,42,1,294,205,24,1,NaN,NaN,1.0
15,164645.0,Intek Technology LLC,"2711 Centerville Road 400,Wilmington, DE 19808",2711 Centerville Road 400 Wilmington DE 19808,2711 400 19808,400,US,1,46.0,1.0,...,147,163,1,86,661,34,1,2711,NaN,1.0
16,178496.0,"WOLFE, David, M.","409 Seville Drive,Red Lion, PA 17356",409 Seville Drive Red Lion PA 17356,409 17356,409,US,1,36.0,1.0,...,14,164,1,77,498,118,1,NaN,NaN,1.0
17,184244.0,"Couvreur, Jérôme","234 Route de Sesigny,74350 Cruseilles",234 Route de Sesigny 74350 Cruseilles,234 74350,234,FR,1,37.0,1.0,...,340,117,1,255,129,3,1,NaN,NaN,1.0
18,200863.0,"SONNECK, Rainer","Ottweilerstr. 12,51375 Leverkusen",Ottweilerstr. 12 51375 Leverkusen,12 51375,12,DE,1,33.0,2.0,...,298,36,1,185,338,3,1,NaN,NaN,1.0
19,207549.0,ECPE Engineering Center for Power Electronics ...,"Landgrabenstrasse 94,90443 Nürnberg",Landgrabenstrasse 94 90443 Nürnberg,94 90443,94,DE,1,35.0,2.0,...,242,246,1,290,442,3,1,NaN,NaN,1.0
20,208665.0,"HEIDARI-BATENI, Ghobad","13886 Camino Del Suleo,San Diego, CA 92129",13886 Camino Del Suleo San Diego CA 92129,13886 92129,NaN,US,1,42.0,1.0,...,144,52,1,302,521,24,1,NaN,NaN,1.0
21,217975.0,"Kimijima, Tadaaki","c/o Sony Corporation 1-7-1 Konan Minato-ku,Tokyo",c/o Sony Corporation 1-7-1 Konan Minato-ku Tokyo,171,1-,JP,1,48.0,1.0,...,25,3,101,5,606,3,1,NaN,NaN,1.0
22,227620.0,"Takeda, Yuji Yokkaichi Plant of Mitsubishi","Gas Chemical Company, Inc., 4-16-2, Hinagahiga...",Gas Chemical Company Inc. 4-16-2 Hinagahigashi...,4162 5100886,4-,JP,1,76.0,1.0,...,18,3,83,5,668,4,1,NaN,NaN,0.0
23,300146.0,"INOUE, Mitsuo, MITSUBISHI DENKI KABUSHIKI KAISHA","2-3, Marunouchi 2-chome, Chiyoda-ku,Tokyo 100-...",2-3 Marunouchi 2-chome Chiyoda-ku Tokyo 100-8310,23 2 1008310,2-,JP,1,50.0,1.0,...,18,92,37,32,606,3,1,NaN,NaN,0.0
24,310402.0,"Decorte, Lieven","Kleine Stadenstraat 97c,8830 Hooglede/Gits",Kleine Stadenstraat 97c 8830 Hooglede/Gits,97 8830,97c,BE,1,42.0,1.0,...,434,250,1,288,256,3,1,NaN,NaN,1.0
25,334421.0,"Masutani, Akira, Sony International (Europe) GmbH","Heinrich-Hertz-Strasse 1,70327 Stuttgart",Heinrich-Hertz-Strasse 1 70327 Stuttgart,1 70327,1,DE,1,40.0,1.0,...,203,4,1,247,569,3,1,NaN,NaN,1.0
26,336711.0,"SCHWARTZMAN, Joel","11 Hamitzpe Street, P.O. Box 4467,Shoham 73142",11 Hamitzpe Street P.O. Box 4467 Shoham 73142,11 4467 73142,11,IL,1,46.0,1.0,...,194,25,1,253,549,3,1,NaN,NaN,1.0
27,406106.0,"BENNETT, Ronald Wilfred Murdoch","10, rue Saint-Jean,CH-1260 Nyon",10 rue Saint-Jean CH-1260 Nyon,10 1260,10,CH,1,31.0,2.0,...,446,8,1,333,441,3,1,NaN,NaN,1.0
28,433088.0,"DiSilvestro, Mark R.","238 S Eagle Glen Trail,Columbia City, IN 46725",238 S Eagle Glen Trail Columbia City IN 46725,238 46725,238,US,1,46.0,1.0,...,349,119,1,170,124,58,1,NaN,NaN,1.0
29,433394.0,The Engineering Business Limited,"Broomhaugh House Riding Mill,Northumberland NE...",Broomhaugh House Riding Mill Northumberland NE...,44 6,E44,GB,1,52.0,1.0,...,18,3,1,405,506,107,1,NaN,NaN,0.0
30,452780.0,"GOULDIE, Timothy, C.","1708 Bluff Court,Garden City, KS 67846",1708 Bluff Court Garden City KS 67846,1708 67846,NaN,US,1,38.0,1.0,...,135,73,1,244,198,61,1,NaN,NaN,1.0
31,455672.0,"KUMARAN, Govindaraj","1 Kimball Court, 504,Woburn, MA 01801",1 Kimball Court 504 Woburn MA 01801,1 504 01801,1,US,1,37.0,1.0,...,18,189,244,11,2,73,1,NaN,NaN,0.0
32,466548.0,"LEE, Jin-Young","183-2, 5/5 Bokcheon-dong Dongrae-gu,Busan 607-020",183-2 5/5 Bokcheon-dong Dongrae-gu Busan 607-020,1832 55 607020,183-,KR,1,49.0,1.0,...,43,2,22,227,146,23,14,NaN,NaN,1.0
33,485306.0,"LEE, Eun, Seog",21-1102 Sampoong Apt. 1685 Seocho-dong Seocho-...,21-1102 Sampoong Apt. 1685 Seocho-dong Seocho-...,211102 1685 137070,21-,KR,1,62.0,1.0,...,364,69,187,61,540,3,1,NaN,NaN,1.0
34,495995.0,"Ishihara, Yusuke, c/Fuji Photo Film Co., Ltd.","2-12-1 Oogi-cho, Odawara-shi,Kanagawa-ken",2-12-1 Oogi-cho Odawara-shi Kanagawa-ken,2121,2-,JP,1,41.0,1.0,...,48,3,1,5,447,64,1,NaN,NaN,1.0
35,506283.0,"Woo, Sang-Hyun","Samsung Electronics Co., Ltd. 416, Maetan-dong...",Samsung Electronics Co. Ltd. 416 Maetan-dong Y...,416,416,KR,1,80.0,1.0,...,84,3,117,5,575,48,1,NaN,NaN,1.0
36,516598.0,"Tosaka, Akio c/o Chiba Works","Kawasaki Steel Corporation 1, Kawasakicho Chuo...",Kawasaki Steel Corporation 1 Kawasakicho Chuo-...,1 2600835,1,JP,1,75.0,1.0,...,18,4,94,1,108,3,1,NaN,NaN,0.0
37,518781.0,"Kanamori, Kenji","1-27, Hirakata-cho Kanazawa-ku,Yokohama-shi Ka...",1-27 Hirakata-cho Kanazawa-ku Yokohama-shi Kan...,127 2360023,1-,JP,1,61.0,1.0,...,23,3,92,104,294,164,1,NaN,NaN,1.0
38,531009.0,"Nagasawa, Keiichi","Disco Corporation 13-11, Omori-Kita 2-chome Ot...",Disco Corporation 13-11 Omori-Kita 2-chome Ota...,1311 2 1438580,13-,JP,1,65.0,1.0,...,18,3,1,5,2,3,1,NaN,NaN,0.0
39,551894.0,"Haak, Mark P.","81N. Park Avenue,Fond du Lac WI 54935",81N. Park Avenue Fond du Lac WI 54935,81 54935,81N,US,1,37.0,1.0,...,275,232,1,198,181,156,1,NaN,NaN,1.0
40,562157.0,"Tsutsumi, Yoshitaka","14-11, Toyo 5-chome,Kudamatsu-shi, Yamaguchi-ken",14-11 Toyo 5-chome Kudamatsu-shi Yamaguchi-ken,1411 5,14-,JP,1,48.0,1.0,...,384,3,102,5,2,163,1,NaN,NaN,1.0
41,566163.0,"Katagiri, Yoshinobu, c/o FUJI PHOTO FILM CO., ...","210, Nakanuma,Minami-Ashigara-shi, Kanagawa",210 Nakanuma Minami-Ashigara-shi Kanagawa,210,210,JP,1,43.0,1.0,...,61,3,146,5,385,62,1,NaN,NaN,1.0
42,587874.0,"Kitahara, Yasuhisa","21-1-507 Kamiooka-higashi 1-chome,Yokohama cit...",21-1-507 Kamiooka-higashi 1-chome Yokohama cit...,211507 1,21-,JP,1,57.0,1.0,...,60,3,1,5,670,62,1,NaN,NaN,1.0
43,588216.0,"Mitsuaki, Maeda, c/o Kabushiki Kaisha Aiaishi","2000-1 Iwai,Iwata-Shi, Shizuoka-ken",2000-1 Iwai Iwata-Shi Shizuoka-ken,20001,-1,JP,1,35.0,2.0,...,219,96,1,5,278,135,1,NaN,NaN,1.0
44,638811.0,"YOSHIDA, Yasuhiko, c/o BANDO CHEMICAL IND., LTD.","2-15, Meiwadori 3-chome, Hyogo-ku,Kobe-shi, Hy...",2-15 Meiwadori 3-chome Hyogo-ku Kobe-shi Hyogo...,215 3 6520882,2-,JP,1,58.0,1.0,...,49,3,85,236,310,52,1,NaN,NaN,1.0
45,649888.0,"Dent d'Almuano, Rainier","La Priauraz,1807 Blonay, Vaud",La Priauraz 1807 Blonay Vaud,1807,NaN,CH,1,29.0,2.0,...,240,83,1,5,62,152,1,NaN,NaN,1.0
46,660098.0,"KASAI, Yoshiyuki, c/o NGK INSULATORS, LTD.","2-56, Suda-cho, Mizuho-ku,Nagoya-shi, Aichi 46...",2-56 Suda-cho Mizuho-ku Nagoya-shi Aichi 467-8530,256 4678530,2-,JP,1,52.0,1.0,...,54,3,203,169,410,14,1,NaN,NaN,1.0
47,663046.0,"YANO, Kanji","1077 Kamitoyoura, Azuchi cho,Gamougun, Shiga",1077 Kamitoyoura Azuchi cho Gamougun Shiga,1077,NaN,JP,1,44.0,1.0,...,227,21,68,5,546,3,1,Azuchi cho,NaN,1.0
48,668012.0,"BESSERER, Horst","Bahnhofstrasse 1,35745 Herborn",Bahnhofstrasse 1 35745 Herborn,1 35745,1,DE,1,30.0,2.0,...,125,4,1,134,239,3,1,NaN,NaN,1.0
49,669708.0,"Fayolle, Christophe","Les Raffards,42600 Precieux",Les Raffards 42600 Precieux,42600,NaN,FR,1,27.0,2.0,...,251,3,1,152,485,3,1,NaN,NaN,1.0

In [62]:
#Detailed overview
data.describe()

,person_id,chr_len,chr_len_label,nbr_tok,nbr_tok_num,has_tok_3digits,nbr_digits,rnd,rndfix,sample,...,building,street,nr,area,postal,city,region,country,status,label
count,9.990000e+02,1002.000000,1002.000000,1003.000000,999.000000,999.000000,999.000000,999.000000,999.000000,0.0,...,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,0.0,999.000000
mean,2.070643e+07,32.081836,2.039920,6.676969,1.128128,0.440440,3.982983,0.478745,0.184349,NaN,...,8.270916,117.199203,49.057769,32.354582,92.292829,310.405378,30.978088,1.434263,NaN,0.470470
std,2.175683e+07,26.598831,0.963055,37.723642,1.202702,0.496689,4.386022,0.289336,0.093428,NaN,...,12.890919,139.919953,75.784660,64.020589,127.772089,221.817014,46.311998,2.539157,NaN,0.499377
min,3.540000e+03,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000843,0.003593,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,3.854371e+06,10.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.228721,0.138662,NaN,...,5.000000,18.000000,3.000000,1.000000,5.000000,96.750000,3.000000,1.000000,NaN,0.000000
50%,9.143170e+06,29.000000,2.000000,4.000000,1.000000,0.000000,3.000000,0.475405,0.167116,NaN,...,5.000000,18.000000,3.000000,1.000000,5.000000,312.500000,3.000000,1.000000,NaN,0.000000
75%,4.806491e+07,47.000000,3.000000,7.000000,2.000000,1.000000,7.000000,0.732638,0.193692,NaN,...,5.000000,215.250000,80.250000,11.250000,173.250000,518.250000,48.000000,1.000000,NaN,1.000000
max,6.971232e+07,164.000000,3.000000,999.000000,6.000000,1.000000,19.000000,0.998636,0.690718,NaN,...,85.000000,461.000000,266.000000,245.000000,418.000000,687.000000,165.000000,23.000000,NaN,1.000000

In [66]:
#Just checkking how many are "right" and "false"
correct_address_map = {1.0: 1, 0.0: 0}
data['label'] = data['label'].map(correct_address_map)
correct_address_true_count = len(data.loc[data['label'] == True])
correct_address_false_count = len(data.loc[data['label'] == False])
(correct_address_true_count,correct_address_false_count)

In [80]:
#renaming columns
from sklearn.model_selection import train_test_split
feature_columns = ['co', 'building', 'street','nr','area','postal','city','region','country']
predicted_class = ['label']

In [81]:
#renaming columns
X = data[feature_columns].values
y = data[predicted_class].values


#renaming columns
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=10)

In [82]:
from sklearn.impute import SimpleImputer

fill_values = SimpleImputer(missing_values=0, strategy="mean")

X_train = fill_values.fit_transform(X_train)
X_test = fill_values.fit_transform(X_test)

In [83]:
#HELP HAHAH
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier

# Load iris dataset from sklearn
iris = datasets.load_iris()

# Declare an of the KNN classifier class with the value with neighbors.
knn = KNeighborsClassifier(n_neighbors=6)

# Fit the model with training data and target values
knn.fit(X_train, iris['target'])

# Provide data whose class labels are to be predicted
X = [
    [5.9, 1.0, 5.1, 1.8],
    [3.4, 2.0, 1.1, 4.8],
]

# Prints the data provided
print(X_test )

# Store predicted class labels of X
prediction = knn.predict(X_test )

# Prints the predicted class labels of X
print(prediction)

ValueError: Found input variables with inconsistent numbers of samples: [702, 150]