In [144]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [145]:
#Read data
data = pd.read_excel('data.xlsx',sheet_name='PS19A_PERSON__SmplR10K')

In [146]:
#Shape the data
data.shape

(999, 31)

In [159]:
#Brief overview of 5 rows
data.head(5)

,person_id,person_name,person_address,cln1,cln2,cln3,person_ctry_code,cnt,chr_len,chr_len_label,...,street,nr,area,postal,city,region,country,unclear,status,label
0,89830,"Hata, Yoshiki","c/o Hitachi Appliances, Inc. 390 Muramatsu, Sh...",c/o Hitachi Appliances Inc. 390 Muramatsu Shim...,NaN,NaN,JP,1,90,1,...,18,3,192,151,1,91,1,NaN,NaN,0
1,118819,"Sakamura, Ken, Intellectual Property Department","NTT DoCoMo, Inc., Sanno Park Tower, 11-1, Naga...",NTT DoCoMo Inc. Sanno Park Tower 11-1 Nagata- ...,NaN,NaN,JP,1,89,1,...,18,3,239,30,606,3,1,NaN,NaN,0
2,227620,"Takeda, Yuji Yokkaichi Plant of Mitsubishi","Gas Chemical Company, Inc., 4-16-2, Hinagahiga...",Gas Chemical Company Inc. 4-16-2 Hinagahigashi...,NaN,NaN,JP,1,76,1,...,18,3,83,5,668,4,1,NaN,NaN,0
3,300146,"INOUE, Mitsuo, MITSUBISHI DENKI KABUSHIKI KAISHA","2-3, Marunouchi 2-chome, Chiyoda-ku,Tokyo 100-...",2-3 Marunouchi 2-chome Chiyoda-ku Tokyo 100-8310,NaN,NaN,JP,1,50,1,...,18,92,37,32,606,3,1,NaN,NaN,0
4,433394,The Engineering Business Limited,"Broomhaugh House Riding Mill,Northumberland NE...",Broomhaugh House Riding Mill Northumberland NE...,NaN,NaN,GB,1,52,1,...,18,3,1,405,506,107,1,NaN,NaN,0

In [160]:
#Fill all empty values with 0
data['country'] = data['country'].fillna(0)
data['city'] = data['city'].fillna(0)
data['region'] = data['region'].fillna(0)
data['postal'] = data['postal'].fillna(0)
data['area'] = data['area'].fillna(0)
data['street'] = data['street'].fillna(0)
data['co'] = data['co'].fillna(0)
data['building'] = data['building'].fillna(0)
data['nr'] = data['nr'].fillna(0)

In [161]:
#Brief overview of first 5 rows
data.head(5)

,person_id,person_name,person_address,cln1,cln2,cln3,person_ctry_code,cnt,chr_len,chr_len_label,...,street,nr,area,postal,city,region,country,unclear,status,label
0,89830,"Hata, Yoshiki","c/o Hitachi Appliances, Inc. 390 Muramatsu, Sh...",c/o Hitachi Appliances Inc. 390 Muramatsu Shim...,NaN,NaN,JP,1,90,1,...,18,3,192,151,1,91,1,NaN,NaN,0
1,118819,"Sakamura, Ken, Intellectual Property Department","NTT DoCoMo, Inc., Sanno Park Tower, 11-1, Naga...",NTT DoCoMo Inc. Sanno Park Tower 11-1 Nagata- ...,NaN,NaN,JP,1,89,1,...,18,3,239,30,606,3,1,NaN,NaN,0
2,227620,"Takeda, Yuji Yokkaichi Plant of Mitsubishi","Gas Chemical Company, Inc., 4-16-2, Hinagahiga...",Gas Chemical Company Inc. 4-16-2 Hinagahigashi...,NaN,NaN,JP,1,76,1,...,18,3,83,5,668,4,1,NaN,NaN,0
3,300146,"INOUE, Mitsuo, MITSUBISHI DENKI KABUSHIKI KAISHA","2-3, Marunouchi 2-chome, Chiyoda-ku,Tokyo 100-...",2-3 Marunouchi 2-chome Chiyoda-ku Tokyo 100-8310,NaN,NaN,JP,1,50,1,...,18,92,37,32,606,3,1,NaN,NaN,0
4,433394,The Engineering Business Limited,"Broomhaugh House Riding Mill,Northumberland NE...",Broomhaugh House Riding Mill Northumberland NE...,NaN,NaN,GB,1,52,1,...,18,3,1,405,506,107,1,NaN,NaN,0

In [162]:
from sklearn.preprocessing import LabelEncoder
l3 = LabelEncoder()

#make the columns as string and encode it to a numeric
country = l3.fit_transform(data['country'].astype(str))
city = l3.fit_transform(data['city'].astype(str))
region = l3.fit_transform(data['region'].astype(str))
postal = l3.fit_transform(data['postal'].astype(str))
area = l3.fit_transform(data['area'].astype(str))
street = l3.fit_transform(data['street'].astype(str))
co = l3.fit_transform(data['co'].astype(str))
building = l3.fit_transform(data['building'].astype(str))
nr = l3.fit_transform(data['nr'].astype(str))

In [163]:
#Replace originalcolumns witht the numeric columns
data['city'] = city
data['country'] = country
data['region'] = region
data['postal'] = postal
data['area'] = area
data['street'] = street
data['co'] = co
data['building'] = building
data['nr'] = nr

In [164]:
#Brief overview of first 50
data.head(5)

,person_id,person_name,person_address,cln1,cln2,cln3,person_ctry_code,cnt,chr_len,chr_len_label,...,street,nr,area,postal,city,region,country,unclear,status,label
0,89830,"Hata, Yoshiki","c/o Hitachi Appliances, Inc. 390 Muramatsu, Sh...",c/o Hitachi Appliances Inc. 390 Muramatsu Shim...,NaN,NaN,JP,1,90,1,...,90,190,104,59,1,157,1,NaN,NaN,0
1,118819,"Sakamura, Ken, Intellectual Property Department","NTT DoCoMo, Inc., Sanno Park Tower, 11-1, Naga...",NTT DoCoMo Inc. Sanno Park Tower 11-1 Nagata- ...,NaN,NaN,JP,1,89,1,...,90,190,156,224,564,89,1,NaN,NaN,0
2,227620,"Takeda, Yuji Yokkaichi Plant of Mitsubishi","Gas Chemical Company, Inc., 4-16-2, Hinagahiga...",Gas Chemical Company Inc. 4-16-2 Hinagahigashi...,NaN,NaN,JP,1,76,1,...,90,190,228,364,632,100,1,NaN,NaN,0
3,300146,"INOUE, Mitsuo, MITSUBISHI DENKI KABUSHIKI KAISHA","2-3, Marunouchi 2-chome, Chiyoda-ku,Tokyo 100-...",2-3 Marunouchi 2-chome Chiyoda-ku Tokyo 100-8310,NaN,NaN,JP,1,50,1,...,90,259,177,246,564,89,1,NaN,NaN,0
4,433394,The Engineering Business Limited,"Broomhaugh House Riding Mill,Northumberland NE...",Broomhaugh House Riding Mill Northumberland NE...,NaN,NaN,GB,1,52,1,...,90,190,1,341,453,10,1,NaN,NaN,0

In [165]:
#Detailed overview
data.describe()

,person_id,cln2,cln3,cnt,chr_len,chr_len_label,nbr_tok,nbr_tok_num,has_tok_3digits,nbr_digits,...,building,street,nr,area,postal,city,region,country,status,label
count,9.990000e+02,0.0,0.0,999.0,999.000000,999.0,999.000000,0.0,0.0,0.0,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,0.0,999.000000
mean,2.070643e+07,NaN,NaN,1.0,32.092092,1.0,4.703704,NaN,NaN,NaN,...,44.800801,155.658659,169.725726,33.035035,296.234234,324.832833,86.794795,1.452452,NaN,0.470470
std,2.175683e+07,NaN,NaN,0.0,26.633592,0.0,3.758530,NaN,NaN,NaN,...,7.338874,114.848548,54.662536,64.650996,110.740010,200.442579,27.619642,2.622450,NaN,0.499377
min,3.540000e+03,NaN,NaN,1.0,2.000000,1.0,1.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,3.854371e+06,NaN,NaN,1.0,10.000000,1.0,1.000000,NaN,NaN,NaN,...,45.000000,90.000000,185.500000,1.000000,237.500000,112.000000,89.000000,1.000000,NaN,0.000000
50%,9.143170e+06,NaN,NaN,1.0,29.000000,1.0,4.000000,NaN,NaN,NaN,...,45.000000,90.000000,190.000000,1.000000,364.000000,321.000000,89.000000,1.000000,NaN,0.000000
75%,4.806491e+07,NaN,NaN,1.0,47.000000,1.0,7.000000,NaN,NaN,NaN,...,45.000000,213.500000,190.000000,12.500000,364.000000,502.500000,89.000000,1.000000,NaN,1.000000
max,6.971232e+07,NaN,NaN,1.0,164.000000,1.0,20.000000,NaN,NaN,NaN,...,85.000000,461.000000,266.000000,245.000000,418.000000,687.000000,165.000000,23.000000,NaN,1.000000

In [166]:
#Just checkking how many are "right" and "false"
correct_address_map = {1.0: 1, 0.0: 0}
data['label'] = data['label'].map(correct_address_map)
correct_address_true_count = len(data.loc[data['label'] == True])
correct_address_false_count = len(data.loc[data['label'] == False])
(correct_address_true_count,correct_address_false_count)

(470, 529)

In [167]:
#renaming columns
from sklearn.model_selection import train_test_split
feature_columns = ['co', 'building', 'street','nr','area','postal','city','region','country']
predicted_class = ['label']

In [168]:
#renaming columns
X = data[feature_columns].values
Y = data[predicted_class].values


#renaming columns
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3) # 70% training and 30% test

In [169]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

C:\Users\DePau\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [170]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9066666666666666